<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528326538718-t9apo8a4b1v94om0j3veq060ksdr7o6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528326538718-t9apo8a4b1v94om0j3veq060ksdr7o6k</string>
	<key>API_KEY</key>
	<string>AIzaSyCwNs4fgKX4m3IUykyU0EiL7x2LZ9AGjsA</string>
	<key>GCM_SENDER_ID</key>
	<string>528326538718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aalau.datepassport</string>
	<key>PROJECT_ID</key>
	<string>date-passport</string>
	<key>STORAGE_BUCKET</key>
	<string>date-passport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528326538718:ios:8c4ff87ca94a91ec61d94f</string>
</dict>
</plist>